<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    input[type=text],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }

    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {

      .col-25,
      .col-75,
      input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
  </style>
</head>

<body>

  <h2>News Editor</h2>

  <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="country">Sections</label>
      </div>
      <div class="col-75">
        <select onchange="muna()" id="country" name="country">
          <option>
            <h6>choose the section</h6>
          </option>
          <option>
            <h6>latest showbizz</h6>
          </option>
          <option>
            <h6>Gossip and news</h6>
          </option>
          <option>
            <h6>showbizz trending pics</h6>
          </option>
        </select>
      </div>
    </div>
    <form style="display: none;" id="form1" method="post" action="/gossipAndNews">
      <div class="row">
        <h3>Authors Name</h3>
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname"/> 
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>

      <h3>Content To be published</h3>



      <div class="col-25">
        <label for="fname">Heading</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 1</label>
        </div>
        <div class="col-75">
          <input type="text" id="Image1" name="Image1ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 2</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image2ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 3</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image3ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 4</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image4ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="Paragraph" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph2</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="Paragraph2" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-25">
          <label for="fname">Heading selected image</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="SelectedHead"> 
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">selected Image</label>
        </div>
        <br>
        <br>

        <div class="col-75">
           <input type="text" id="Image1" name="ImageXID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
    <form style="display: none;" id="form2" method="post" action="/showbizzTrendingPics">
      <div class="row">
        <h3>PhotoGrapher Names</h3>
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname"/> 
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>
      <h3>Content</h3>
      <div class="col-25">
        <label for="fname">Heading of trending pics 1</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading1" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 1</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image1ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 2</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading2" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 2</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image2ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 3</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading3" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 3</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image3ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 4</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading4" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 4</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image4ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 5</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading5" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 5</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image5ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 6</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading6" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 6</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image6ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 7</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading7" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 7</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image7ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 8</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading8" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 8</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image8ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 9</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading9" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 9</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image9ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 10</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading10" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 10</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image10ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 11</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading11" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 11</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image11ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 12</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading12" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 12</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image1" name="Image12ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="col-25">
        <label for="fname">Heading of trending pics 13</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading13" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 13</label>
        </div>
        <div class="col-75">
          <p >391.16X240</p>
           <input type="text" id="Image13" name="Image13ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
    <form style="display: none;" id="form3" method="post" action="/latestShowbizz">
    
      <div class="row">
        <h3>Authors Name</h3>
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname"/> 
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>
      <h3>Content To be published</h3>



      <div class="col-25">
        <label for="fname">Heading</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 1</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image1ID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 2</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image2ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 3</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image3ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">ImageID 4</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="Image4ID" placeholder="the drive Image id related to the story...."/>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="Paragraph" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph 2</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="Paragraph2" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">Heading selected image</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="SelectedHead"/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">selected Image</label>
        </div>
        <div class="col-75">
           <input type="text" id="Image1" name="ImageXID" placeholder="the drive Image id related to the story...."/> 
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
  <script>
    function muna() {
      var select = document.getElementById('country')
      var SelectedValue = select.options[select.selectedIndex].value
      if (SelectedValue == 'showbizz trending pics') {
        document.getElementById('form1').style.display = 'none';
        document.getElementById('form2').style.display = 'block';
        document.getElementById('form3').style.display = 'none';
      } else if (SelectedValue == 'Gossip and news') {
        document.getElementById('form1').style.display = 'block';
        document.getElementById('form2').style.display = 'none';
        document.getElementById('form3').style.display = 'none';
      } else if (SelectedValue == 'latest showbizz') {
        document.getElementById('form3').style.display = 'block';
        document.getElementById('form1').style.display = 'none';
        document.getElementById('form2').style.display = 'none';
      }
    }
    function muna2() {
      var select = document.getElementById('ImagePosition')
      var SelectedValue = select.options[select.selectedIndex].value
      if (SelectedValue == 'showbizz trending pics') {
        document.getElementById('form1').style.display = 'none';
        document.getElementById('form2').style.display = 'block';
      } else if (SelectedValue == 'Gossip and news' || SelectedValue == 'latest showbizz') {
        document.getElementById('form1').style.display = 'block';
        document.getElementById('form2').style.display = 'none';
      }
    }


  </script>
</body>

</html>