<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    input[type=text],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }

    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {

      .col-25,
      .col-75,
      input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
  </style>
</head>

<body>

  <h2>News Editor</h2>

  <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="country">Sections</label>
      </div>
      <div class="col-75">
        <select onchange="muna()" id="country" name="country">
          <option>
            <h6>choose the section</h6>
          </option>
          <option>
            <h6>latest showbizz</h6>
          </option>
          <option>
            <h6>Gossip and news</h6>
          </option>
          <option>
            <h6>showbizz trending pics</h6>
          </option>
        </select>
      </div>
    </div>
    <form style="display: none;" id="form1" action="/action_page.php">
      <div class="row">
        <h3>Authors Name</h3>
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>

      <h3>Content To be published</h3>



      <div class="col-25">
        <label for="fname">Heading</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-25">
          <label for="fname">Image 1</label>
        </div>
        <div class="col-75">
          <input type="file" id="Image1" name="firstname">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 2</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="Image2">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 3</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="Image3" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 4</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="Image4" placeholder="Your name..">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph2</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Position On The landing Page</label>
        </div>
        <br>
        <br>
        <div class="col-75">
          <select id="country" name="country">
            <option>image 1</option>
            <option>image 2</option>
            <option>image 3</option>
            <option>image 4</option>
          </select>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-25">
          <label for="fname">Heading selected image</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">selected Image</label>
        </div>
        <br>
        <br>

        <div class="col-75">
          <input type="file" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
    <form style="display: none;" id="form2" action="">
      <div class="col-25">
        <label for="fname">Heading</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 1</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
    <form style="display: none;" id="form3" action="/action_page.php">
      <div class="row">
        <h3>Authors Named</h3>
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>

      <h3>Content To be published</h3>



      <div class="col-25">
        <label for="fname">Heading</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Heading" placeholder="Heading..">
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-25">
          <label for="fname">Image 1</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 2</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 3</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="image3">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Image 4</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="image4">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Paragraph 2</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="Paragraph2" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Position On The landing Page</label>
        </div>
        <br>
        <br>
        <div class="col-75">
          <select id="country" name="country">
            <option>image 1</option>
            <option>image 2</option>
            <option>image 3</option>
            <option>image 4</option>
          </select>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-25">
          <label for="fname">Heading selected image</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">selected Image</label>
        </div>
        <div class="col-75">
          <input type="file" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
  <script>
    function muna() {
      var select = document.getElementById('country')
      var SelectedValue = select.options[select.selectedIndex].value
      if (SelectedValue == 'showbizz trending pics') {
        document.getElementById('form1').style.display = 'none';
        document.getElementById('form2').style.display = 'block';
        document.getElementById('form3').style.display = 'none';
      } else if (SelectedValue == 'Gossip and news') {
        document.getElementById('form1').style.display = 'block';
        document.getElementById('form2').style.display = 'none';
      } else if (SelectedValue == 'latest showbizz') {
        document.getElementById('form3').style.display = 'block';
        document.getElementById('form1').style.display = 'none';
      }
    }
    function muna2() {
      var select = document.getElementById('ImagePosition')
      var SelectedValue = select.options[select.selectedIndex].value
      if (SelectedValue == 'showbizz trending pics') {
        document.getElementById('form1').style.display = 'none';
        document.getElementById('form2').style.display = 'block';
      } else if (SelectedValue == 'Gossip and news' || SelectedValue == 'latest showbizz') {
        document.getElementById('form1').style.display = 'block';
        document.getElementById('form2').style.display = 'none';
      }
    }


  </script>
</body>

</html>