<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

  

  <h1>Record Play</h1>
  <% if (messages.message) {%>
  <div style="position:absolute; top: 50px; right: 0;color: aliceblue; background-color: rgb(68, 154, 42);height: 10%;width: 25vw;">
  <h4 style="position: inherit;top:-20%;left: 3%;"><b>Message!</b></h4>
  <br>
 
  <p><%=messages.message%> </p>

  </div>
  <% } %>  
 
  <div style="width: 100%; " class="w3-col w3-container w3-half ">
    
    <div class="w3-container w3-card-4">
    

  <% if (messages.playName) {%>
    <div  style="width: 50% ;display:block;" id="id01" class="modal">
      <h1>Genesis Espsode</h1>
      <h4 style="background-color:rgb(174, 172, 172); position: relative; top: 30%;right: 0;"> the genesis espode is  <b><%=messages.playName%> </b> </h4>
      <div style="margin-top:20px;" class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
         <div id="controls">
          <button id="pauseButton" disabled>Pause</button>
          <button style=" border-radius: 50%; height: 100px;width: fit-content;border-color: rgba(240, 248, 255, 0); background-color: rgba(240, 248, 255, 0); "  id="recordButton"> 
            <img id="imageRecoding"
             style="height: inherit; width:inherit; border-radius: 50%;" src="../static/img/gifs/NoAnimatio.jpg" alt=""> </button>
          <button id="stopButton" disabled>Stop</button>
       </div>
       <p>Elapsed time: <span id="time">0</span>s</p>
       <div id="formats">Format: start recording to see sample rate</div>
         <p><strong>Recordings:</strong></p>
         <ol id="recordingsList"></ol>
        </div>
        
  
      </div>
      <input id="inputForIdFolder" style="display: none;" type="text"/>
     <script>
        document.getElementById('inputForIdFolder').setAttribute('value','<%=messages.Id%>') 
     </script>
        
    </div>
  <% } else { %>
    <form style="display: block;" action="/PodcastControl" method="post">      
      <h4>details</h4>
    <p>
    <input name="PlayName" class="w3-input" type="text" style="width:90%" required>
    <label>Play Name</label></p>
    <p>
      <input class="w3-input" name="Season" type="number" style="width:90%" required>
      <label>Season</label></p>
    <p>
    <textarea name="SeasonDiscription" class="w3-input" type="password" style="width:90%" required></textarea>
    <label>Season discription</label></p>
    
    <p>

    <input type="file" name="pic" >
    <label>Background Pic</label></p>
    <button class="w3-button w3-section w3-teal w3-ripple">submit</button>
  </form>
    <% } %> 
    </p>
    
  </div>
    
  
  </div>
  


   
  
</div>
<script type="text/javascript" src="../static/js/AdminRecorder/recorder.js"></script> 
<script type="text/javascript" src="../static/js/AdminRecorder/app.js"></script>
<script>
// Get the Sidebar

 


var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
